.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  opacity: 0.8; /* Adjust opacity as desired */
}

/* Adjust the position of carousel control buttons */
.carousel-control-prev {
    left: -111px !important; /* Move the button more towards the left */
}

.carousel-control-next {
    right: -111px !important; /* Move the button more towards the right */
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000000; /* Change background color */
  border-radius: 10%; /* Make the buttons circular */
  padding: 5px; /* Adjust padding as needed */
}

.clicked {
  opacity: 0.6; /* Change the opacity value */
  color: #515151; /* Change the color to a lighter/darker shade */
}

nav {
  background-color: white; /*making the navbar white*/
}

body {
  padding-bottom: 70px; /*making sure the user can scroll all the way down*/
}

footer { 
  display: inline-flex;
  padding:5px;
  font-size:15px; 
  background-color:rgb(140, 67, 189); /*making the footer purple so that the copyright page can be seen*/
  color:#ffffff;
}

.footertext{
  color: white; /*making the footer text white*/
  text-align: center;
}

.input-box input { /*to change how the register and login page look*/
  background: transparent; 
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}

.input-box box-icon { /*to change how the register and login page look*/
  position: absolute;
  position: relative;
  left: 320px;
  top: -30px;
  line-height: 30px;
}

.description{
  border-bottom: 2px solid black;
}

.accordion{
  margin-top: 15px;
}