<header>
  <nav class="navbar navbar-expand-sm border-bottom">
      <div class="container">
          <button
              class="navbar-toggler ms-auto"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbar-collapse"
              aria-controls="navbar"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <!--Logo-->
          <div class="image">
            <a class="navbar-brand">
                <img src="<%= 'img/logo.ico' %>" alt="A logo of a cat" width="40" height="40"/>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="navbar-nav me-auto">
                  <!--Discover Page-->
                  <li class="nav-item">
                      <a class="nav-link" href="/discover">Discover</a>
                  </li>
                  <!--Saved, Watched, and Recommended Movie Pages-->
                  <% if (user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Movies
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/saved_movies">Saved Movies</a></li>
                            <li><a class="dropdown-item" href="/watched_movies">Watched Movies</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/recommended_movies" style="color:purple">Get Recommended Movies</a>
                    </li>
                  <% } %>
                  <li class="nav-item">
                    <a class="nav-link" href="/about_us" style="color:magenta">About Us</a>
                    </li>
                  <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success"  style="color: black; border-color: black;" type="submit">Search</button>
                  </form>
              </ul>
              <div class="nav-item d-flex"> <!-- Use d-flex to create a flex container -->
                  <!--Changes on whether the user is logged in or not-->
                  <% if (!user) { %>
                    <div class="me-2"> <!-- me-2 for spacing -->
                        <a class="nav-link" href="/register">Register</a>
                    </div>
                    <div class="me-2"> <!-- me-2 for spacing -->
                        <a class="nav-link" href="/login">Login</a>
                    </div>
                  <% } else{ %>  
                    <div class="me-2">
                        <a class="nav-link" href="/logout">Logout</a>
                    </div>
                  <% } %>
                  
              </div>
          </div>
      </div>
  </nav>
</header>
