<header>
  <nav class="navbar navbar-expand-sm border-bottom">
      <div class="container">
          <button
              class="navbar-toggler ms-auto"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbar-collapse"
              aria-controls="navbar"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/discover">Discover</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Movies
                      </a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/saved_movies">Saved Movies</a></li>
                          <li><a class="dropdown-item" href="/watched_movies">Watched Movies</a></li>
                          <li><a class="dropdown-item" href="/recommened_movies">Recommened Movies</a></li>
                      </ul>
                  </li>
              </ul>
              <div class="nav-item d-flex"> <!-- Use d-flex to create a flex container -->
                  <div class="me-2"> <!-- me-2 for spacing -->
                      <a class="nav-link" href="/register">Register</a>
                  </div>
                  <div class="me-2"> <!-- me-2 for spacing -->
                      <a class="nav-link" href="/login">Login</a>
                  </div>
                  <div class="me-2">
                      <a class="nav-link" href="/logout">Logout</a>
                  </div>
              </div>
          </div>
      </div>
  </nav>
</header>