<%- include('../partials/header', { title: 'Recommended Movies - Purrfect Movie Rec' }) %>


<!-- Include the menu -->
<%- include('../partials/menu') %>

<div class="container mt-4">
    <!-- Page heading -->
    <h2 class="mb-4">About Us</h2>

    <!-- Movie cards in a grid -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <!-- Bootstrap card for each movie -->
            <div class="card">
                <!-- Movie poster at the top of the card -->
                <img src="./img/micah.jpeg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Micah Dew</h5>
                    <p class="card-text"><strong>About Me:</strong> Hello! My name is Micah Dew. I am from Atlanta, Georgia and I am a sophomore here at Boulder. I enjoy skateboarding, coding, and music.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <!-- Movie poster at the top of the card -->
                <img src="./img/kyndra.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Kyndra Nelson</h5>
                    <p class="card-text"><strong>About Me:</strong> Hello! My name is Kyndra and I am a freshman at CU Boulder. My major is Computer Science and I love to snowboard on the weekends. C++ is the best coding language.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <!-- Movie poster at the top of the card -->
                <img src="./img/matt.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Matt Corley</h5>
                    <p class="card-text"><strong>About Me:</strong> Hello! My name is Matthew Corley. I am a junior studying computer science and have interests in cryptocurrency and artificial intelligence. </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <!-- Movie poster at the top of the card -->
                <img src="../../resources/img/micah.jpeg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Robin Luo</h5>
                    <p class="card-text"><strong>About Me:</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <!-- Movie poster at the top of the card -->
                <img src="./img/mathis.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Mathis Fituwi</h5>
                    <p class="card-text"><strong>About Me:</strong> Hi I'm Mathis. I'm a junior studying computer science with an interest in game development. As a Computer Science major I like to spend my time daydreaming </p>
                </div>
            </div>
       </div>
    </div>

</div>

<!-- Include the footer -->
<%- include('../partials/footer') %>
