<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
        <br> <br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" />

        <hr class="divider">
        <input type="submit" value="Login" />
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>