<%- include ('../partials/header') %>

<main>
    <div class="container">
      <form action="/login" method="POST">
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" />
    
          <label for="password">Password:</label>
          <input type="text" id="password" name="password" />
    
          <input type="submit" value="Submit" />
      </form>
    </div>
</main>  

<%- include ('../partials/footer') %>