<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <head>
    <link rel="stylesheet" type="text/css" href="../../resources/css/style.css">  
  </head>
  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <div class="col-md-3 mx-auto">
      <h2>Login</h2>
    <form action="/login" method="POST">
            
            <div class = input-box style = "margin-top: 10px">
              <input type="text" id="username" name="username" placeholder = "username" class="form-control"/>
              <box-icon name = 'user'></box-icon>
            </div>
  
            <div class = input-box style = "margin-top: -15px">
              <input type="password" id="password" name="password" placeholder = "password" class="form-control"/>
              <box-icon name = 'lock-alt'></box-icon>
            </div>
  
  
          <div class="d-grid gap-2" style = "margin-top: -15px;">
            <button  class="btn btn-primary">Login</button>
          </div>
    </form>
    <p style="margin-top: 15px;">Need to sign up? <a href="/register">Register here</a></p>
  </div>
</div>
</main>


<%- include ('../partials/footer') %>