<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1>Logout Successful!</h1>
    <h1>Logout Successful!</h1>
  </div>
</main>

<%- include ('../partials/footer') %>