<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <center>
      <div class="alert alert-primary" role="alert">
        Logged Out Successfully!
      </div>
        <div class="d-grid gap-2">
          <a class="btn btn-outline-primary" href="discover" role="button">Click to redirect</a>
        </div>
    </center>
  </div>
</main>

<%- include ('../partials/footer') %>