<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  <div class="col-md-3 mx-auto">
    <h2>Register</h2>
  <form action="/register" method="POST">
          
          <div class = input-box style = "margin-top: 10px">
            <input type="text" id="username" name="username" placeholder = "username" class="form-control"/>
            <box-icon name = 'user'></box-icon>
          </div>

          <div class = input-box style = "margin-top: -15px">
            <input type="password" id="password" name="password" placeholder = "password" class="form-control"/>
            <box-icon name = 'lock-alt'></box-icon>
          </div>


        <div class="d-grid gap-2" style = "margin-top: -15px; margin-bottom: 55px;">
          <button  class="btn btn-primary">Register</button>
        </div>

  </form>
</div>
</div>
</main>

<%- include ('../partials/footer') %>